<!--Paris Ward, Lucas Moraes, Parker Sandstrom, and Joshua Ethington-->
<!--This page will display the databases-->
<!--It will display a customer info, employee info and order page.-->
<!--It will allow user to do CRUD capabilities depending on permissions-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Page</title>
</head>
<body>
    
</body>
</html>