<!--Paris Ward, Lucas Moraes, Parker Sandstrom, and Joshua Ethington-->
<!--This page will be the landing page.-->
<!--It will display a welcome message, allow user to select customer/employee and give information about the website/pantry-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    
</body>
</html>