<!--Paris Ward, Lucas Moraes, Parker Sandstrom, and Joshua Ethington-->
<!--This page will allow employees to login-->
<!--It will allow employees to enter a username/password and then check database permissions-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    
</body>
</html>