<!--Paris Ward, Lucas Moraes, Parker Sandstrom, and Joshua Ethington-->
<!--This page will allow customers to sign up-->
<!--Customers will input basic information and then it will give them a customer ID and location information-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Food Pantry Tracker - Create Customer Page</title>
</head>
<body>
    
</body>
</html>